<section>
  <header>
    <h2>Skills</h2>
  </header>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col">
            <label for="inputCity">Skill</label>
            <input type="text" class="form-control" id="inputCity" placeholder="eg. Angular">
          </div>
          <div class="form-group col">
            <label for="inputState">Level</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="float-right">
          <button class="btn btn-light">Cancel</button>
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>