<section>
  <header>
    <h2>Employment History</h2>
  </header>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="jobtitle">Job title</label>
          <input type="text" class="form-control" placeholder="eg. Software Engineer">
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="employer">Employer</label>
            <input type="text" class="form-control" placeholder="eg. The Company">
          </div>
          <div class="col form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" placeholder="eg. Mumbai">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="inputState">Start date</label>
            <div class="form-row">
              <div class="col form-group">
                <select id="inputState" class="form-control">
                  <option selected>Month...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col form-group">
                <select id="inputState" class="form-control">
                  <option selected>Year...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col">
            <label for="inputState">End date</label>
            <div class="form-row">
              <div class="col form-group">
                <select id="inputState" class="form-control">
                  <option selected>Month...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col form-group">
                <select id="inputState" class="form-control">
                  <option selected>Year...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <textarea class="form-control" rows="4"></textarea>
        </div>
        <div class="float-right">
          <button class="btn btn-light">Cancel</button>
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>